<main id="top" class="main">
  <section class="sectionFav">
    <div class="sectionFav__div">
      <h2 class="sectionFav__div--title">Favoritos</h2>
      <button class="js-btnReset sectionFav__div--btnReset hidden">Eliminar todos</button>
    </div>
    <div class="js-imageFav sectionFav__divImage">
      <img src="./assets/images/emptyFavList.png" alt="Ilustracion gato y tv">
      <p class="sectionFav__divImage--title">¡Tu lista está vacía!</p>
      <p class="sectionFav__divImage--subtitle">Dale amor añadiendo tus animes favoritos :)</p>
    </div>
    <ul class="js-listFav sectionFav__list"></ul>
  </section>
  <section class="sectionRes">
    <h2 class="sectionRes__title">Resultados</h2>
    <p class="js-totalResults"></p>
    <div class="js-imageFront sectionRes__image">
      <p>¡Utiliza el buscador para encontrar todos tus animes!</p>
      <img src="./assets/images/mikaFront.png" alt="Imagen de portada">
    </div>
    <ul class="js-listRes sectionRes__list"></ul>
</section>
<a href="#top" class="main__upBtn"><i class="fas fa-arrow-up"></i></a>
</main>
