body{
    background-color: whitesmoke;
}
.header{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 36%, rgba(194,4,134,1) 91%);
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: roboto;
    &__title{
        color: white;
        font-weight: 100;
        font-size: 34px;
    }
    &__form{
        display: flex;
        align-items: center;
        &--text{
            width: 400px;
            height: 25px;
            padding: 8px;
            border: 1px solid transparent;
            margin-right: 20px;
            box-shadow: 1px 1px 5px grey;
        }
        &--search{
            padding: 3px 15px;
            background-color: black;
            border: none;
            color: white;
            text-transform: uppercase;
            font-family: 'Roboto';
            cursor: pointer;
            font-size: 14px;
            border: 1px solid black;
            &:hover{
                background-color: transparent;
                color: white;
                border: 1px solid white;
                //font-weight: 600;
            }
        }
    }
}