
.main{
    display: flex;
    padding: 20px 200px;
    font-family: 'Roboto';
}
.sectionFav{
    background-color: azure;
    width: 30vw;
    padding: 20px;
    border-right: 2px solid black;
    &__div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--btnReset{
            padding: 5px 10px;
            border: none;
            background-color: black;
            color: white;
            font-family: 'Roboto';
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    &__list{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &--item{
            background-color: white;
            border: 3px solid plum;
            padding: 5px;
            margin: 5px;
            text-align: center;
            width: min-content;
            & img {
                width: 120px;
            }
        }
    }
}
.sectionRes{
    background-color: plum;
    width: 70vw;
    padding: 20px;
    &__list{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &--item{
            background-color: white;
            padding: 5px;
            margin: 5px;
            text-align: center;
            width: min-content;
        }
    }
}
.favorit{
    background-color: black;
    color: white;
}