
.main{
    display: flex;
    padding: 100px 200px;
    font-family: 'Roboto';
}
.sectionFav{
    width: 25vw;
    padding: 20px;
    border-right: 2px solid black;
    &__div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        &--btnReset{
            padding: 5px 10px;
            border: none;
            background-color: black;
            color: white;
            font-family: 'Roboto';
            text-transform: uppercase;
            cursor: pointer;
            font-size: 12px;
            &:hover{
                background-color: #c20486;
            }
        }
    }
    &__divImage{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: 0 auto;
        & img{
            width: 110px;
            margin: 20px 5px 20px 15px;
        }
        &--title{
            font-size: 14px;
            text-align: center;
            font-weight: 600;
        }
        &--subtitle{
            font-size: 14px;
            text-align: center;
        }
    }
    &__list{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &--item{
            background-color: white;
            border: 3px solid #c20486;
            padding: 5px;
            margin: 5px;
            text-align: center;
            width: min-content;
            position: relative;
            & img {
                width: 100px;
                margin-bottom: 5px;
            }
            & p {
                font-size: 12px;
                margin-bottom: 5px;
            }
        }
        &--btn{
            color: #000;
            font-size: 20px;
            font-family: 'Roboto';
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            background-color: white;
            border-radius: 50%;
            &:hover{
                color: #c20486;
            }
        }
    }
}
.sectionRes{
    width: 65vw;
    padding: 20px;
    &__title{
        margin-bottom: 12px;
    }
    &__image{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & img{
            width: 20%;
        }
    }
    &__list{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        cursor: pointer;
        &--item{
            background-color: white;
            padding: 5px;
            margin: 0px 12px 12px 0px;
            text-align: center;
            width: min-content;
            box-shadow: 6px 6px 3px #2d2d2d;
            & p{
                font-size: 14px;
                padding: 5px 0px;
            }
        }
    }
}
.favorit{
    background-color: black;
    color: white;
}
.hidden{
    display: none;
}